Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
Python Me Comment Add Karne Ke Liye Kisi bhi Code Ke starting Me ( ## ) Add Kar Diya Jata hai
Second Method """ """ Ke Andar Me Comment Ko Write kiya jata hai

SyntaxError: '(' was never closed (1500882095.py, line 1)

In [7]:
##Exmple :- 
"""Hello Sir My name Is Rishikesh Kumar , I Am From Bihar"""

'Hello Sir My name Is Rishikesh Kumar , I Am From Bihar'

Q2. What are variables in Python? How do you declare and assign values to variables?

In Python, variables are used to store and manipulate data. A variable is essentially a named container that holds a value, such as a number, string, or object. You can think of variables as labels or placeholders for values.

To declare a variable in Python, you simply choose a name for the variable and use the assignment operator (=) to assign a value to it. Here's the general syntax:

For example, let's declare a variable named age and assign the value 25 to it:

In [8]:
age = 25

In this case, age is the variable name, and 25 is the value assigned to it.

Python is a dynamically typed language, which means you don't need to specify the type of a variable explicitly. The type is inferred based on the value assigned to the variable.

You can assign different types of values to variables. For instance:

In [10]:
name = "John"  # Assigning a string value
pi = 3.14     # Assigning a floating-point value
is_student = True  # Assigning a boolean value
r= 45            # Assigning a int value

Variables can also be reassigned with new values later in the program. For example:

In [12]:
age = 25
print(age)  # Output: 25

age = 30
print(age)  # Output: 30

25
30

In this example, the variable age is first assigned the value 25, and later it is reassigned the value 30.

Additionally, Python allows multiple assignment, where you can assign values to multiple variables in a single line. For example:

In [13]:
x, y, z = 1, 2, 3

In [14]:
x

1

In [15]:
y

2

In [16]:
z

3

Q3. How do you convert one data type to another in Python?

you can convert one data type to another using type conversion functions or techniques. Here are some common methods for data type conversion:

Implicit Type Conversion (Coercion): Python automatically performs implicit type conversion when an operation involves different data types. For example, if you add an integer and a float, Python will automatically convert the integer to a float before performing the addition. This type of conversion is also known as coercion.

In [17]:
a= 5
b = 3.14

result =a+ b 
print(result)

8.14

Python convert Int to Float then added.

Explicit Type Conversion (Type Casting): You can explicitly convert one data type to another using type casting functions. These functions allow you to convert variables from one type to another by specifying the target type. The commonly used type casting functions are:
int(): Converts a value to an integer.
float(): Converts a value to a float.
str(): Converts a value to a string.
bool(): Converts a value to a boolean.

In [19]:
A= "10"
B = int(A)  
print(B)  

C = float(B) 
print(C)  

D = bool(C) 
print(D)

10
10.0
True

Explicit conversion from string to int
Explicit conversion from int to float
Explicit conversion from float to boolean

Using String Formatting: You can convert values to strings using string formatting techniques. The format() method or f-strings (formatted string literals) can be used to insert values of different types into a string.

In [20]:
age = 25
name = "John"

# Using format() method
message = "My name is {} and I am {} years old".format(name, age)
print(message)  # Output: My name is John and I am 25 years old

# Using f-string
message = f"My name is {name} and I am {age} years old"
print(message)  # Output: My name is John and I am 25 years old

My name is John and I am 25 years old
My name is John and I am 25 years old

Using Built-in Functions: Python provides built-in functions like list(), tuple(), set(), and dict() to convert objects to corresponding data types.

In [21]:
num = 12345

# Convert to a list
num_list = list(str(num))
print(num_list)  # Output: ['1', '2', '3', '4', '5']

# Convert to a tuple
num_tuple = tuple(str(num))
print(num_tuple)  # Output: ('1', '2', '3', '4', '5')

['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

These are some of the commonly used methods for converting one data type to another in Python. The appropriate method to use depends on the specific conversion you want to perform.

Q4. How do you write and execute a Python script from the command line?

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [23]:
my_list = [1, 2, 3, 4, 5]

sub_list = my_list[1:3] 

print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [24]:
z1 = 2 + 3j
z2 = -1.5 + 0.5j
z3 = 4j

In [29]:
# Addition of complex numbers
result_add = z1 + z2

In [34]:
print(result_add)

(0.5+3.5j)

In [31]:
# Multiplication of complex numbers
result_mul = z1 * z2

In [33]:
print(result_mul)

(-4.5-3.5j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [45]:
Age = 25

In [48]:
Age  #The correct way to declare a variable named age and assign the value 25 to it in Python is as follows:

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to?

In [51]:
Price=9.99

In [52]:
Price

9.99

In [53]:
type(Price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable?

In [54]:
Name="Rishikesh"

In [55]:
type(Name)

str

In [56]:
print(Name)

Rishikesh

Q10. Given the string "Hello, World!", extract the substring "World"

In [64]:
Str= "Hello , World"

In [65]:
type(Str)

str

I can't print substring Please Explain Me How Can Print

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not

In [82]:
is_student = True
is_not_student= False

In [80]:
is_student

True

In [83]:
is_not_student

False

Thanks For Checking My Assignment